@model AboutViewModel
@{
    ViewData["Title"] = "Hakkımızda";
    string title = "Hakkımızda";

}
<partial name="_HeroWraper" model="@title" />

<section class="ftco-section ftco-about">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(/images/about.jpg);">
            </div>
            <div class="col-md-6 wrap-about ftco-animate">
                <div class="heading-section heading-section-white pl-md-5">
                    <span class="subheading">@title</span>
                    <h2 class="mb-4 text-nowrap">@Model.Title</h2>
                    <p>@Model.Description[..280]</p>
                    <p>@Model.Description[281..]</p>
     
                    <p><a href="#" class="btn btn-primary py-3 px-4">Bir Araba Ara</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<partial name="_CallToAction" />

<partial name="_Testimonials" model="@Model.Testimonials" />


<partial name="_AboutStatistics" model="@Model.Statistics" />


